* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.header {
  display: flex; /* 요소들을 가로로 펼쳐서 배치할 때 */
  height: 4rem;
  padding: 0.5rem 1rem;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.btnSearch {
  background-color: darkgray;
  outline: 0;
}

.imgSearch {
  height: 100%;
  padding: 0.5rem 0.3rem;
}

.titleY {
  color: white;
  font-size: 1.4rem;
  padding-left: 5%;
}

/* ul태그 작성 */
.videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  gap: 14px;
}

/* li태그 작성 */
.video {
  display: flex; /* 방향은 디폴트가 row 방향 */
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
  transition: transform 250ms ease-in;
  cursor: pointer;
}

.video:hover {
  transform: scale(1.05); /* 마우스 호버 시 확대 */
}

.thumbnail {
  width: 40%;
}

.title,
.channelTitle {
  margin: 10px;
  font-size: 1.0rem;
}

.channelTitle{
  font-size: 0.8rem;
}
